.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  
  .pagination-btn {
    border: 1px solid dodgerblue !important;
    background-color: white;
    color: dodgerblue !important;
    cursor: pointer;
    border-radius: 50% !important;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    outline: none;
  }
  
  .pagination-btn:disabled {
    border: 1px solid #f0f0f0 !important;
    background-color: #f0f0f0 !important;
    color: #d0d0d0 !important;
    cursor: not-allowed ;
  }
  
  .pagination-info {
    font-size: 16px;
    color: #666;
  }
  